@font-face {
  font-family: 'Heyam';
  src: url('/fonts/Heyam.ttf') format('truetype');
  font-display: swap;
  font-weight: 400 700; /* Specify available weight range */
}

@font-face {
  font-family: 'MADE Gentle';
  src: url('/fonts/MADE Gentle PERSONAL USE.otf') format('opentype');
  font-display: swap;
  font-weight: 400 700;
}