@keyframes riseUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rockBack {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-10deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

@keyframes fadeOutAndGrow {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.7);
    opacity: 0;
  }
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  width: 100%;
  animation: riseUp 2s ease-out forwards;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

.loading-image-container {
  width: calc(30vw);
  padding: 0 1rem;
  animation: 
    rockBack 3s ease-in-out 2s,
    fadeOutAndGrow 1s ease-in forwards 5s; /* Starts after rockBack finishes */
}

.loading-image {
  width: 100%;
  height: auto;
}





